.main-container {
}

.main-container span {
  margin-right: 30px;
  font-size: 2rem;
  color: rgb(63, 63, 63);
  position: relative;
}

.left-pointer::after {
  content: 'left';
}

.right-pointer::after {
  content: 'right';
}

.right-pointer::after,
.left-pointer::after {
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 1rem;
  color: black;
}

span.target {
  color: rgb(255, 111, 111);
}

span.mid::after {
  content: 'mid';
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 1rem;
  color: black;
}

.controls {
  margin: 30px auto 0 auto;
  width: fit-content;
  text-align: center;
}
